@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Jolly+Lodger&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

*{
    margin: 0 auto;  
}

body{
    background-color: #D9D6D0;
    font-family: "Jolly Lodger", system-ui;
    font-weight: 400;
    font-style: normal;
    }

header{
    background-color: #D9AF62;
    height: 400px;
    width: 100%; /* Define a largura do header como 100% da largura do viewport */
}
img{
  padding: 10% 20%;
}

nav {
    background-color: #A6583C;
    font-family: "Nosifer", sans-serif;
    height: 50px;
    color: #593A1E;
    align-items:center;
    padding-top: 20px;
    font-size: larger;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color:  #593A1E;
}

nav a:hover {
    color: #D9B589;
    background-color:#593A1E;
}


main{
    max-width: 80%;
    margin-bottom: 5px;
    padding: 50px;
    border-radius: 0 0 12px 12px  ;
    box-shadow: 0 5px 4px #593a1e8c;
 

   }
h1{
    margin-bottom: 15px;
    color:#593A1E;
    font-weight: 700;
    font-size: 3em;
    text-shadow: 1px 1px 2px #3c2714b4;
    font-family: "Nosifer", sans-serif;
}

h2{
    color: #A6583C;
    font-family: "Nosifer", sans-serif;
    font-size: 2em;
}

p{
    margin-bottom: 25px;
    font-size: 1.2em;
    text-align: justify;
    text-indent: 30px;
    font-family: "Delius", cursive;
}
ul{
    font-family: "Delius", cursive;
}

div{
    background-color: lightslategray;
    height: 60px;
    width: 150px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;

}

div > p{
    display: none;
}

div:hover > p {
    display: block;
    font-size: 0.9em;
    color: #593A1E;

}

div:hover{
    background-color: yellow;
}




footer{
    background-color:#593A1E;
    height: 60px;
    width: 100%; 
}
footer p{
    padding: 10px 0;
    color: #D9AF62;
    font-size: 1.2em;
    line-height: 1.6;
    text-align: center;
    font-family: "Delius", cursive;
}

#workskin{
    border-radius: 0 0 12px 12px  ;
    box-shadow: 0 5px 4px #593a1e8c; 
    padding-left: 10%;
    padding-right: 10%;

}
/*
#D9AF62
#D9D6D0
#D9B589
#593A1E
#A6583C
*/

*{
    margin-bottom: 10px;
    font-size: 1em;
}
nav {
    color: #593A1E;
    display: flex;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    font-size: 1em;
    display: flex;
    justify-content: space-around;
  }
  
  nav a {
    text-decoration: none;
    color: #593A1E;
    font-weight: bold;
    padding: 10px 3em;
  }
  
  nav a:hover {
    color: #D9B589;
  }

  a:hover {
    color: #593A1E;
}